$cubic-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down-all {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes form-width {
  0% {
    width: 100px;
  }
  100% {
    width: 180px;
  }
}


@keyframes skeleton-animation {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 300px;
  }
}

@keyframes lazy-loaded-image-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: .5;
    transform: scale(0.5);
  }
  50% {
    opacity: .75;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
