@import "~src/styles/animations";

.home-page {
  padding: 8px;
}

.card-header-image {
  background-image: url('/assets/images/pp.jpg');
  background-size: cover;
}

.about-me {
  white-space: pre-wrap;
}
