<div class="home-page">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image"></div>
      <mat-card-title>Jie Lin</mat-card-title>
      <mat-card-subtitle>Software engineer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>{{'general_information' | translate}}</h3>
      <p>
        {{'location' | translate}}: Italy, Saint-Vincent (AO)
      </p>
      <p>
        {{'email' | translate}}: linjie997@gmail.com
      </p>
      <p>
        {{'gender' | translate}}: {{'male' | translate}}
      </p>
      <p>
        {{'citizenship' | translate}}: {{'italian' | translate}}
      </p>
      <h3>{{'profile_presentation_title' | translate}}</h3>
      <p>
        {{'profile_presentation_text' | translate}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
