@import "~src/styles/variables/colors";
@import "~src/styles/animations";

:host {
  display: block;
  height: 100%;
}

@keyframes skill-bar-animation {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.self-top-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.skill-bar {
  display: flex;
  background-color: #eee;
  opacity: 0;
  animation: normal forwards skill-bar-animation 0.75s $cubic-bezier;
  user-select: none;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  .name {
    width: 175px;
    font-weight: 500;
    background-color: $color-accent;
  }

  .rating {
    flex: 1 1 auto;
    text-align: right;
    color: #666;
  }

  .name, .rating {
    padding: 4px 8px;
  }
}

@for $i from 1 through 100 {
  $percentage: $i*1%;
  $empty: (100 - $i)*1%;

  .rating-#{$i} {
    background: linear-gradient(90deg, darken($color-accent, 10%) $percentage, rgba(25, 118, 210, 0) $empty)
  }
}

@for $i from 0 through 25 {
  .skill-bar-#{$i} {
    animation-delay: 0.5s + ($i * 50ms);
  }
}
