<mat-toolbar color="primary" class="navbar mat-elevation-z1">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="matSideNav?.toggle()"
    *ngIf="(isHandset$ | async)">
    <mat-icon
      [ngClass]="{'side-opened': matSideNav?.opened}"
      class="menu-toggle-icon"
      aria-label="Side nav toggle icon">menu
    </mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <app-toolbar></app-toolbar>
</mat-toolbar>

<mat-sidenav-container
  autosize
  class="sidenav-container"
  [ngClass]="{ small: (isHandset$ | async)}">
  <mat-sidenav
    class="sidenav"
    fixedInViewport="true"
    [ngClass]="{small: (isHandset$ | async)}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <app-side-navigation-menu></app-side-navigation-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
