@import "~src/styles/animations";

$toolbar-height: 50px;
$sm-toolbar-height: 40px;

.title {
  margin-right: 16px;
}

.sidenav-container {
  height: calc(100% - #{$toolbar-height});

  &.hide-nav {
    .sidenav, .navbar {
      display: none;
    }
  }

  &.small {
    &:not(.toolbar-hidden) {
      //height: calc(100% - #{$sm-toolbar-height});
    }
  }

  &.toolbar-hidden {
    height: 100%;
  }
}

.mat-drawer-content {
  transition: margin-left 0.375s $cubic-bezier;
}

.menu-toggle-icon {
  transition: transform 0.375s $cubic-bezier;

  &.side-opened {
    transform: rotate(90deg);
  }
}

.sidenav {
  width: 275px;
  // top: $toolbar-height !important;

  &.small {
    width: 60px;
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  color: #fff;
  background: rgb(25, 118, 210);
  background: linear-gradient(180deg, rgba(25, 118, 210, 1) 50%, rgba(25, 118, 210, 0.9) 100%);
  overflow: hidden;
  transition: height 0.175s $cubic-bezier;

  &.hide {
    height: 0;
  }
}

.navbar.mat-toolbar-row, .mat-toolbar-single-row {
  height: $toolbar-height;
}

@media(max-width: 599px) {
  .sidenav {
    top: $sm-toolbar-height !important;
  }
  .navbar.mat-toolbar-row, .mat-toolbar-single-row {
    height: $sm-toolbar-height;
  }
}
