<mat-toolbar class="navbar mat-elevation-z1">
  <button
    *ngIf="(isHandset$ | async)"
    (click)="matSideNav?.toggle()"
    mat-icon-button
    type="button"
    aria-label="Toggle sidenav">
    <mat-icon
      [ngClass]="{'side-opened': matSideNav?.opened}"
      class="menu-toggle-icon"
      aria-label="Side nav toggle icon">menu
    </mat-icon>
  </button>
  <span class="title">{{title}}</span>
  <app-toolbar [showNavigationMenu]="!(isHandset$ | async)"></app-toolbar>
</mat-toolbar>

<mat-sidenav-container
  autosize
  class="sidenav-container"
  [ngClass]="{ small: (isHandset$ | async), 'toolbar-hidden': !(showToolbar$ | async)}">
  <mat-sidenav
    *ngIf="(isHandset$ | async)"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [opened]="!(isHandset$ | async)"
    class="sidenav"
    fixedInViewport="true"
    mode="over">
    <app-side-navigation-menu></app-side-navigation-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet (activate)="onRouteActivate()"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
