<button mat-icon-button [matMenuTriggerFor]="menu" class="settings">
  <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
</button>
<mat-menu #menu="matMenu" class="menu-container">
  <div (click)="$event.stopPropagation()" class="menu-content">
    <div mat-menu-item class="d-flex align-center theme-container">
      <mat-icon>palette</mat-icon>
      <span>{{'dark_theme' | translate}}</span>
      <span class="spacer"></span>
      <mat-slide-toggle class="ml-8" (change)="themeToggle()" color="primary" [checked]="isDarkThemeEnabled"></mat-slide-toggle>
    </div>
  </div>
</mat-menu>
