@import '~src/styles/theme';
@import '~src/styles/utils';
@import '~src/styles/squarify';
@import '~src/styles/roboto';
@import '~src/styles/icons';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
