@import '@angular/material/theming';

@mixin theme($primary, $accent, $warn) {
  @include mat-core();

  $color-primary: mat-color($primary);
  $color-accent: mat-color($accent);
  $color-warn: mat-color($warn);

  $app-theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($app-theme);

  .dark-theme {
    $app-theme: mat-dark-theme($primary, $accent, $warn);
    @include angular-material-theme($app-theme);
  }
}
