<div class="page">
  <mat-card class="self-top-card">
    <div class="self-brief-presentation">
      <app-self-presentation></app-self-presentation>
    </div>
    <div class="skills">
      <app-skills></app-skills>
    </div>
  </mat-card>

  <div class="biography">
    <div>{{'technology_passionated_since_ever' | translate}}</div>
    <div>{{'development_passion_discovered_description' | translate}}</div>
    <div>{{'i_love_discovering_and_learn_new_things' | translate}}</div>
  </div>
</div>
