@import "~src/styles/variables/colors";
@import "~src/styles/animations";

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.self-top-card {
  animation: slide-down-all $cubic-bezier 0.5s;

  display: grid;
  grid-template-areas: "presentation skills";
  grid-template-rows: auto;
  grid-template-columns: 400px auto;
  grid-gap: 16px;

  max-width: 1200px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.self-brief-presentation {
  grid-area: presentation;
}

.skills {
  grid-area: skills;
}

@media(max-width: 960px) {
  .self-top-card {
    grid-template-areas:
      "presentation presentation"
      "skills skills";
    grid-template-rows: auto;
    grid-template-columns: auto;

    max-width: 768px;
  }
}
