<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title>{{workExperience.title}}</mat-card-title>
    <mat-card-subtitle>
      <a mat-button [href]="workExperience.companyLink" target="_blank">{{workExperience.company}}</a>
      <br>
      <span>{{startDate| date: 'MMMM YYYY'}} - </span>
      <span *ngIf="endDate">{{endDate | date: 'MMMM YYYY'}}</span>
      <span *ngIf="!endDate">{{'today' | translate}}</span>
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p *ngFor="let description of workExperience.descriptions" class="description">{{description}}</p>
    <mat-chip-list aria-label="skills" class="badges">
      <mat-chip
        *ngFor="let badge of workExperience.badges; let odd = odd" [color]="odd ? 'primary': 'accent'"
        selected>{{badge}}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
